<div class="well" style="width:500px;margin:100px 450px; height:300px;">
    <h4> DashBoard </h4>
    <hr />
    <div class="span1" style="width:100px;">
        <a href="/upload" class="btn btn-primary">
            <i class="icon-pencil icon-white"></i>
            <span><strong>Upload</strong></span>            
        </a>
    </div>
    <div class="span1" style="width:100px;">
    	<a href="/files" class="btn btn-primary">
            <i class="icon-eye-open icon-white"></i>
            <span><strong>Files</strong></span>        	
        </a>
    </div>
    <div class="span1" style="width:100px;">
        <a href="/account" class="btn btn-primary">
            <i class="icon-edit icon-white"></i>
            <span><strong>Account</strong></span>       
        </a> 	
    </div>
</div>

<script type="text/javascript">
    currentNav = "home";
</script>
